.u-section-1 .u-sheet-1 {
  min-height: 1216px;
}

.u-section-1 .u-group-1 {
  width: 629px;
  min-height: 978px;
  margin: 144px 226px 60px auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-image-1 {
  width: 569px;
  height: 569px;
  background-image: url("ft.11.jpeg");
  background-position: 50% 50%;
  margin: -28px auto 0 -153px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 6rem;
  margin: -462px -70px 0 468px;
}

.u-section-1 .u-text-2 {
  font-family: Baskervville;
  font-size: 1.875rem;
  font-style: italic;
  margin: 94px -55px 0 -97px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    animation-duration: 1000ms;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.5rem;
    animation-duration: 2750ms;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-1 {
    margin-right: 91px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 19px;
  }

  .u-section-1 .u-text-1 {
    font-size: 4.5rem;
    margin-left: 424px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-image-1 {
    width: 340px;
    height: 340px;
    margin-left: 0;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    margin-top: -233px;
    margin-left: 324px;
  }
}